nav{
    width: 100%;
    height: auto;
}
i{
    font-size: 30px;
}
.nav-home{
    margin-left: 150px;
}
.nav-au, .nav-bell{
    margin-left: 20px;
}
.nav-black{
    margin-left: 120px;
    font-size: 22px;
}